<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
         <picture>
             <img class="img" src="/images/gymaster.jpg"  >
       </picture>
        <nav class="navbar">
            <a href="/member">Member</a>
            <a href="#">Program</a>
            <a href="#">Subscription</a>
            <a href="/coach">Coach</a>
            <a href="#">Payment</a>
            <a href="#">Settings</a>
        </nav>
    </header>
    <div class="container">
         <h3>Home</h3>

    </div>
</body>
</html>
