<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylee1.css">
    <title>Choose Login Type</title>
</head>

<body> 
    <!-- Login Type Selection -->
    <div class="container">
        <h1>Choose Login Type</h1>

        <!-- Admin Login Form -->
        <form action="/admin" method="get">
            <button type="submit" name="user_type" value="admin">Admin</button>
        </form>

        <!-- Staff Login Form -->
        <form action="/staff" method="get">
            <button type="submit" name="user_type" value="staff">Staff</button>
        </form>
    </div>
</body>

</html>
