<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    </head>
    <body>
         <header class="header">
         <picture>
             <img class="img" src="/images/gymaster.jpg"  >
       </picture>
        <nav class="navbar">
            <a href="/member">Member</a>
            <a href="#">Program</a>
            <a href="#">Subscription</a>
            <a href="/coach">Coach</a>
            <a href="#">Payment</a>
            <a href="#">Settings</a>
        </nav>
    </header>
        <div class="form-container  contain">
            <form action="/register/submit" method="POST">
                <h1>ADD COACH</h1>
                 <input type="hidden" name="userType" value="{{userType}}">
                <input type="text" id="fname" name="firstName" placeholder="Firstname" required><br>
                <input type="text" id="lname" name="lastName" placeholder="Lastname" required><br>
                <input type="text" id="username" name="username" placeholder="Email" required><br>  
                <input type="password" id="password" name="password" placeholder="Phone Number" required><br>
                <input type="email" id="email" name="email" placeholder="Specialization" required><br>          
                <div class="contain">
                        <button type="submit">Save</button>
                        <button type="button">Cancel</button>
                </div>
            </form>
       </div>
    </body>
</html>