<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
        <h1>Register</h1>
        {{#if success}}
        <p style="color: green;">{{success}}</p>
        {{/if}}
        {{#if error}}
        <p style="color: red;">{{error}}</p>
        {{/if}}
        
    </div>
</body>
</html>
