
.search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    padding-right: 20px;
    top: 150px;
    right: 50px;
}

.search-container .actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-container .add-member-btn {
    background-color: #043d60;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.search-container .add-member-btn:hover {
    background-color: #0056b3;
}

.search-container .search-input {
        align-items: center;
}

.search-container .search-input input {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    flex-grow: 1;
}

.search-container .search-input input:focus {
    border-color: #007bff;
}

.search-container .search-input .search-btn {
    background-color: #043d60;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.search-btn{
    position: relative;
    right: 15px;
    height: 37px;
}
.search-container .search-input .search-btn:hover {
    background-color: #218838;
}

.search-container .search-btn i {
    font-size: 16px;
}



.table-container {
    position: relative;
    max-width: 90%;
    margin: 20px auto;
    overflow-x: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    top: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    text-align: left;
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:  #042031;
    color: white;
    font-weight: bold;
    text-align: center;
}

td {
    color: black;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}

tr:hover {
    background-color: #f9f9f9;
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.control-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    top: 23px;
}

.control-buttons a {
    position: relative;
    bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.control-buttons a:hover {
    background-color: #0056b3;
}
